{
	"extends": [
		"stylelint-config-standard-scss",
		"stylelint-config-html",
		"stylelint-config-property-sort-order-smacss",
		"stylelint-config-astro",
		"stylelint-prettier/recommended"
	],
	"rules": {
		"font-family-name-quotes": "always-unless-keyword",
		"selector-class-pattern": "^[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$"
	}
}
