---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ReportList from "~/components/global/ReportList.astro";
import type { ReportMap } from "@components/global/ReportList.astro";

const allReports = await getCollection("reports");

const reportMap: ReportMap = {};
for (const report of allReports) {
	const {
		data: { pubDate, title },
		slug,
	} = report;
	const pubDateStr = pubDate.toISOString().split("T")[0];
	reportMap[pubDateStr] = reportMap[pubDateStr] || [];
	reportMap[pubDateStr].push({ title, href: `reports/${slug}` });
}

const sortedMap: ReportMap = Object.keys(reportMap)
	.sort()
	.reverse()
	.reduce((obj, key) => {
		obj[key] = reportMap[key];
		return obj;
	}, {} as ReportMap);
---

<Layout
	metaTitle="Reports | Lestoque Report"
	metaDescription="Daily reports for stocks."
>
	<h2>Reports</h2>
	<ReportList reportMap={sortedMap} />
</Layout>
