---
import Layout from "@layouts/Layout.astro";
---

<Layout
	metaTitle="Home | Lestoque Report"
	metaDescription="Technical Analysis of Stocks, ETF's and Cryptocurrency."
>
	<h2>Technical Analysis and Trading Strategy</h2>
	<p>
		Reports published daily with charts for stocks in the S&P 500 about the
		move.
	</p>
</Layout>
