---
import Header from "../components/global/Header.astro";
import "../styles/main.scss";

interface Props {
	metaTitle: string;
	metaDescription: string;
}

const { metaTitle, metaDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={metaDescription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{metaTitle}</title>
	</head>
	<body>
		<Header title="Lestoque Report" />
		<aside></aside>
		<main class="main">
			<slot />
		</main>
	</body>
</html>

<style lang="scss">
	@use "../styles/variables";

	.main {
		max-width: variables.$max-body-width;
		margin-right: auto;
		margin-left: auto;
	}
</style>
