---
import "../../assets/styles/nav.scss";
---

<nav data-js="nav" class="nav nav--is-closed">
	<button data-nav="trigger" class="nav__trigger"> nav</button>
	<div data-nav="flyout" class="nav__flyout">
		<h3 class="nav__section-title">Lessons</h3>
		<ul class="nav__list">
			<li class="nav__list-item">
				<a class="nav__link" href="/watchlists">Watchlists</a>
			</li>
			<li class="nav__list-item">
				<a class="nav__link" href="/trades">Trades</a>
				 Lesson 4: Local Server
			</li>
		</ul>
	</div>
	<!-- <h3 class="nav__section-title">Experiments</h3>
		<ul class="nav__list">
			<li class="nav__list-item">
				<a class="nav__link" href="/experiments/cool-text">
					Cool Looking Text
				</a>
			</li>
			<li class="nav__list-item">
				<a class="nav__link" href="/experiments/video-glitch"> Video Glitch</a>
			</li>
		</ul> -->
</nav>

<script>
	import "../../assets/scripts/nav.js";
</script>
